/*####UNIVERSAL#####*/
:root{ 
    --off_white: #ECEAEB;
    --back-colour:#7E91A3;
    --spacing-unit:1px; 
    --margin-sm: calc(200*var(--spacing-unit));
    --margin-md: calc(100*var(--spacing-unit));
    --margin-lg: calc(50*var(--spacing-unit));
    --padding: calc(3*var(--spacing-unit));
    --border-radius: 20px;
}

* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

.row {
  font-size: 0;
  width: 100%;
}

.column {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

heading__feature{}

.section_headings{
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 96.69%;
letter-spacing: 0.06em;
text-transform: uppercase;
}

.copy__body{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 167.49%;
    letter-spacing: 0.05em;
}

.button__black {
    color: white;  
    background: #0D0D0D;
    text-transform: uppercase;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight:normal;
    font-size: 20px;
    line-height: 23px;
    padding-left: 44px;
    padding-right: 44px;
    padding-top: 17px;
    padding-bottom: 17px;
    border-radius: 30px;
    text-decoration:none;
}

.button__orange {
    color: white;  
    background: #E9735A;
    text-transform: uppercase;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight:normal;
    font-size: 20px;
    line-height: 23px;
    padding-left: 44px;
    padding-right: 44px;
    padding-top: 17px;
    padding-bottom: 17px;
    border-radius: 30px;
    text-decoration:none;
}

.section_headings{}

/*#################################HOME#####################################*/

/*####NAV#####*/

.nav {
font-family: 'Spartan', sans-serif; 
display:flex;
font-weight: 500;
font-size: 16px;
line-height: 18px;
text-decoration: none; /*doesnt want to remove hyperlink line___________*/
text-decoration-style: none;
color: #000000;
}

.nav__scoop_logo{
width: 85px;


}

.nav__menu_items{
 justify-content: flex-end;
 background-color: aquamarine;
}

.nav__home{}


.nav__about{}


.nav__contact{}


/*####HERO#####*/

.hero {
background-image: url("assets/hero__backgroundlg.png");
background-size: cover;
}

.hero__heading {
    width: 539px;
    display: flex;
    flex: wrap;
}

.hero__paragraph{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 167.49%;
    letter-spacing: 0.05em;
    color: black;
    max-width: 430px;
}
        
.hero__button{}

.hero__img{
display: flex;
flex: wrap;
width: 646px;

}

/*####ABOUT-SNIPET#####*/

.about-snippet{
background-color: var(--off_white);
}

.about-snippet__img{
width:100%;
}

.about-snippet__paragraph{}

.about-snippet__button{}


/*####FLAVOURS#####*/
.flavours{
color: white;
background-color: #1D2227;
background-image: url("assets/flavours__background.png");
background-size: cover;
}

.flavours__heading{}

.flavours__all{
display: grid; /*We now use display flex instead of display: in-line block*/ /*why was display flex not working? It wasnt working because the section needs to be wrapped in flex and each item was instead*/
flex-wrap: wrap;
list-style: none; /*remove bullet points from list; cannot apply this to the section but have to apply to class directly tagged to ol/ul*/ 
grid-template-areas:
    "vanilla         choc             peanut               caramel "
    "bubblegum       strawberry       rasberry             mint ";
}

    .flavours__vanilla { 
    grid-area: vanilla;
    }

    .flavours__chocolate { 
    grid-area: choc
    }

    .flavours__peanut-butter { 
    grid-area: peanut;
    }

    .flavours__caramel { 
    grid-area: caramel;
    }

    .flavours__bubblegum {
        grid-area: bubblegum;
    }

    .flavours__strawberry { 
    grid-area: strawberry;
    }

    .flavours__rasberry {
    grid-area: rasberry;
    }
    
    .flavours__mintchoc { 
    grid-area: mint;
}

.flavours__item{
display: block;
width: 250px;
text-align: left;
background-color: #8296AA;
border-radius: 20px;
height: 502px;
margin-right: 20px;
margin-bottom: 60px;
} 


.flavours__item_img {
width: 400px;
margin-left: -44px;
margin-top: -20px;


}

.flavour__item_text{
    vertical-align: top;
    margin-top: -110px; /* is it bad to be using negative margins?*/
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 167.49%;
    letter-spacing: 0.05em;
    margin-left: 22px;
    margin-right: 22px;

}

.flavours__item_title{
display:block;
font-weight: bold;
}

.flavours__item_description{    
display:block;
padding-top: 20px;
padding-bottom: 20px;
}

.flavours__item_price {
font-weight: bold;
}


/*#################################ABOUT#####################################*/










/*#################################CONTACT#####################################*/