* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.top-wrap {
  margin: 0 auto;
  max-width: 870px;
  width: 100%;
  display: block;
}

.top-text {
  text-align: right;
  vertical-align: top;
}

h1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  width: 150px;
  margin-top: 20px;
  padding-top: 0;
  margin-bottom: 30px;
  display: block;
}

.open_quotation {
  width: 53px;
  height: 83px;
  margin-left: -15%;
}

.intro_text {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 23px;
  width: 145px;
  margin-top: 0%;
  padding-top: 0;
}

.affirmation_text {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 110px;
  line-height: 129px;
  margin-top: 0%;
  padding-top: 50px;
  margin-bottom: -10px;
  padding-top: -10px;
  margin-left: -15%;
  height: 400px;
}

.colour_block {
  background-color: #ffc0ad;
  max-width: 870px;
  height: 855px;
  width: 65%;
  vertical-align: top;
  margin-top: 5px;
  padding-bottom: 40px;
}

.colour_block-content {
  height: 700px;
  margin-top: 175px;
}

.close_quotation {
  width: 53px;
  height: 83px;
  margin-right: -15%;
  margin-left: 140px;
}

.column_left {
  margin: 28px;
  margin-top: 0%;
  padding-top: 0;
}

.column_right {
  margin: 28px;
  margin-top: 0%;
  padding-top: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

button {
  text-decoration: none;
  border: none;
  background-color: transparent;
}

.btn-quote {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}
