:root {
  --off_white: #eceaeb;
  --back-colour: #7e91a3;
  --spacing-unit: 1px;
  --margin-sm: 10px;
  --margin-md: 19px;
  --margin-lg: 22px;
  --margin-top: 55px;
  --margin-bottom: 55px;
  --spacing-sm: 8px;
  --spacing-md: 20px;
  --spacing-lg: 35px;
  --border-radius: 20px;
}

/*####UNIVERSAL#####*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.row {
  font-size: 0;
  width: 100%;
}

.column {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.section_headings {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 96.69%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.copy__body {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 167.49%;
  letter-spacing: 0.05em;
}

.font__nav {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 96.69%;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.button__black {
  color: white;
  background: #0d0d0d;
  text-transform: uppercase;
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  padding-left: 44px;
  padding-right: 44px;
  padding-top: 17px;
  padding-bottom: 17px;
  border-radius: 30px;
  text-decoration: none;
}
.button__black:hover {
  background-color: #491a1a;
}

.button__orange {
  color: white;
  background: #e9735a;
  text-transform: uppercase;
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  padding-left: 44px;
  padding-right: 44px;
  padding-top: 17px;
  padding-bottom: 17px;
  border-radius: 30px;
  text-decoration: none;
}
.button__orange:hover {
  background-color: #da5034;
}

/*####NAV#####*/

.nav {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  margin-left: 20px;
  margin-top: 28px;
  padding-bottom: 10px;
}

.scoop_img_mob {
  width: 40px;
  margin-top: -12px;
  height: 40px;
  object-fit: contain;
}

@media (min-width: 650px) {
  .scoop_img_mob {
    width: 90px;
    margin-top: -20px;
    height: 50px;
  }
}

.scoop_img_mob_lg {
  width: 100%;
  margin-top: -12px;
}

.nav__text {
  text-decoration: none;
  color: #0d0d0d;
}

.nav__about {
}

.nav__contact {
}

/*####HERO#####*/

.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("assets/hero__backgroundsm.png");
  background-size: cover;
  background-color: #7a8d9e;
  margin-bottom: 0;
  padding-bottom: 0;
}


@media (min-width:1240px){
  .hero {
    padding-top: 90px;
    padding-bottom: 90px;
    padding-right: 20px;
  }
}

.hero__img {
  width: 100%;
  padding-right: 40px;
  padding-top: var(--margin-top);
  max-width: 720px;
  margin: 0 auto;
  filter: drop-shadow(30px 30px 100px #211932);
}

@media (min-width:370px){
  .hero__img {
    padding-right: 50px;
  } 
}

@media (min-width:430px){
  .hero__img {
    padding-right: 60px;
  } 
}
@media (min-width:530px){
  .hero__img {
    padding-right: 70px;
  } 
}

.hero__content_side {
  margin: 0 auto;
}

.hero__heading {
  width: 100%;
  padding-top: var(--spacing-sm);
  margin: 0 auto;
  max-width: 520px;
  padding-left: 12px;
}


.hero__paragraph {
  margin: 0 auto;
  padding-left: 35px;
  padding-right: 15px;
  margin-bottom: 32px;
  max-width: 450px;
  margin-top: -23px;
}

.hero__button {
  vertical-align: top;
  text-align: center;
}

.hero__button_sub {
  display: inline-block;
  margin-bottom: var(--margin-bottom);
}

/*####ABOUT-SNIPET#####*/

.about-snippet {
  background-color: var(--off_white);
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
}

.about-snippet__img {
  width: 100%;
  max-width: 729px;
  margin: 0 auto;
}

.about-snippet__heading {
}

.about-snippet__text {
  padding-left: var(--margin-md);
  padding-right: var(--margin-md);
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  padding-bottom: var(--margin-bottom);
}

@media (min-width: 1270px) {
  .about-snippet__text {
    padding-top: 80px;
    margin-bottom: 60px;
  }
}

.about-snippet__paragraph {
  color: rgb(40, 38, 44);
}

.about-snippet__button_wrap {
  vertical-align: top;
  text-align: center;
}

.about-snippet__button {
  display: inline-block;
  margin-top: 15px;
}

/*####FLAVOURS#####*/

.flavours {
  color: white;
  background-color: #1d2227;
  background-image: url("assets/flavours__background.png");
  background-size: cover;
  padding-left: var(--margin-md);
  margin-top: -30px;
  padding-top: 0;
  padding-bottom: var(--spacing-lg);
}

.flavours__all {
  display: flex;

  overflow: auto;
  margin-left: -40px;
}

@media (min-width: 1200px) {
  .flavours__all {
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: var(--spacing-lg);
  }
}

.flavours__item {
  display: block;
  width: 250px;
  text-align: left;
  background-color: #8296aa;
  border-radius: var(--border-radius);
  margin-right: var(--margin-md);
  height: 530px;
  margin-top: var(--margin-bottom);
}

.flavours__section_heading {
  padding-top: var(--margin-top);
}

@media (min-width: 1200px) {
  .flavours__section_heading {
    padding-left: 63px;
  }
}

.flavours__item_img {
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: var(--margin-sm);
  padding-right: var(--margin-sm);
  filter: drop-shadow(30px 30px 100px rgba(0, 0, 0, 0.4));
}

.flavour__item_text {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 167.49%;
  letter-spacing: 0.05em;
  width: 210px;
  padding-left: 15px;
  padding-right: 15px;
}

.flavours__item_title {
  display: block;
  font-weight: bold;
}

.flavours__item_description {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 180px;
  height: 110px;
}

.flavours__item_price {
  font-weight: bold;
  display: block;
  padding-top: 65px;
}

/*####FLAVOUR OTM#####*/

.flavour-otm {
  display: flex;
  flex-wrap: wrap;
  padding-top: var(--spacing-lg);
  width: 100%;
  margin: auto 0;
  background-color: var(--off_white);
  padding-bottom: 50px;
}

.flavour-otm__heading {
  padding-bottom: var(--spacing-sm);
  max-width: 460px;
  padding-top: var(--spacing-lg);
}

.flavour-otm__text {
  padding-left: var(--margin-md);
  padding-right: var(--margin-md);
  max-width: 460px;
  padding-bottom: var(--spacing-md);
  width: 100%;
  margin: 0 auto;
}

.flavour-otm__part1 {
}

.flavour-otm__part2 {
  padding-left: var(--margin-md);
  padding-right: var(--margin-md);
  max-width: 460px;
  width: 100%;
  margin: 0 auto;
}

.flavour-otm__img {
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
  padding-bottom: var(--spacing-md);
  padding-top: var(--spacing-lg);
}

@media (min-width: 1130px) {
  .flavour-otm__img {
    filter: drop-shadow(30px 30px 100px rgba(0, 0, 0, 0.7));
  }
}

.flavour-otm__input-all {
  display: flex;
  color: #7e91a3;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.flavour-otm__input_area {
  border-color: #7e91a3;
  border-style: solid;
  width: 70%;
  border-radius: 7px;
  height: 35px;
}

.flavour-otm__button_wrap {
  vertical-align: top;
  text-align: center;
}

.flavour-otm__button {
  display: inline-block;
  margin-top: 45px;
}

/*####APP SECTION#####*/

.app__section {
  background-color: #1d2227;
  padding-top: var(--margin-top);
  display: flex;
  flex-wrap: wrap;
  padding-bottom: var(--margin-bottom);
}

.app__img {
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  padding-left: 8px;
}

@media (min-width: 1140px) {
  .app__img {
    transform: rotate(-15deg);
  }
}

.app__all-text {
  background-color: var(--off_white);
  padding-top: 220px;
  max-width: 470px;
  width: 90%;
  margin: 0 auto;
  margin-top: -185px;
  border-radius: 30px;
  padding-left: var(--margin-md);
  padding-right: var(--margin-md);
  margin-bottom: 45px;
  padding-bottom: var(--margin-bottom);
}

@media (min-width: 1020px) {
  .app__all-text {
    padding-top: 90px;
    margin-top: 30px;
    margin-left: -25%;
  }
}

.app__section_heading {
  max-width: 290px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.app__paragraph {
  max-width: 290px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.app__button_wrap {
  vertical-align: top;
  text-align: center;
}

.app__button {
  display: inline-block;
}

/*####FOOTER#####*/

.footer {
  padding-left: 10%;
  padding-right: 10%;
  background-color: #0e0f10;
  color: white;
  display: flex;
  padding-bottom: 30px;
  margin-bottom: 0%;
}

.footer__text_wrap {
  display: block;
}

.footer_text {
  color: white;
  font-weight: lighter;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 96.69%;
  letter-spacing: 0.06em;
  text-decoration: none;
  display: block;
  padding-top: var(--spacing-lg);
}

.footer__column2 {
  align-items: flex-end;
  vertical-align: top;
  text-align: right;
}

.footer__social_icons-wrap {
  display: block;
  background-color: #0e0f10;
}

.footer__social_icons {
  max-width: 120px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: var(--margin-lg);
}

.footer__fb_icon {
  margin-right: 20px;
  width: 40px;
  height: 40px;
}

.footer__fb_icon_wrap {
}

.footer__ig_icon {
  width: 40px;
  height: 40px;
}

.footer__ig_icon {
}

/*####________________________ABOUT_____________________#####*/

/*####OUR STORY#####*/

.about {
  background-color: var(--off_white);
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
}

.about__header_pic {
  width: 100%;
  margin-bottom: -6px;
  padding-bottom: 0;
}

.about__header_img {
  width: 100%;
  margin: 0 auto;
}

.about__our-story_img {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: var(--margin-top);
}

@media (min-width: 1260px) {
  .about__our-story_img {
    padding-bottom: 0;
  }
}

.our-story__heading {
}

.our-story__wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  background-color: #c37d6e;
  color: white;
}
.our-story__heading {
  padding-bottom: var(--spacing-md);
  padding-top: var(--spacing-sm);
}

.our-story__text {
  padding-top: var(--spacing-lg);
  max-width: 840px;
  padding-left: var(--margin-md);
  padding-right: var(--margin-md);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: var(--spacing-md);
  padding-bottom: var(--margin-bottom);
}

@media (min-width: 1260px) {
  .our-story__text {
    max-width: 440px;
  }
}

/*####OUR MISSION#####*/

.our-mission {
  padding-top: var(--margin-top);
  display: flex;
  flex-wrap: wrap;
  color: white;
  background-color: #1d2227;
}

@media (min-width: 850px) {
  .our-mission {
    margin-left: -90px;
  }
}

.our-mission__img {
  padding-bottom: 60px;
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
}

.our-mission__text {
  padding-left: var(--margin-md);
  padding-right: var(--margin-md);
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
  padding-bottom: var(--spacing-lg);
}

@media (min-width: 849px) {
  .our-mission__text {
    max-width: 450px;
  }
}

.our-mission__heading {
}

.our-mission__paragraph {
}

/*####WHAT OUR CUSTOMERS SAY#####*/

.quote__heading {
  padding-top: var(--spacing-lg);
  width: 100%;
  margin: 0 auto;
  padding-left: var(--margin-md);
  padding-right: var(--margin-md);
}

.quote_wrap_all {
  display: flex;
  flex-wrap: wrap;
  padding-left: var(--margin-md);
  padding-right: var(--margin-md);
}

.quote__wrap {
  display: flex;
  flex-wrap: wrap;
  padding-top: var(--margin-top);
  padding-bottom: var(--margin-top);
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  margin-top: -38px;
}

.quote__paragraph {
  padding-left: var(--margin-md);
  padding-right: var(--margin-md);
  max-width: 450px;
  margin: 0 auto;
  width: 100%;
}

.inverted-commas1 {
  max-width: 100px;
  padding-left: var(--margin-md);
  padding-right: var(--margin-md);
  width: 100%;
  margin: 0 auto;
}

.inverted-commas2 {
  max-width: 100px;
  max-height: 65px;
  padding-left: var(--margin-md);
  padding-right: var(--margin-md);
}

/*####________________________CONTACT_____________________#####*/

/*####CONTACT PART 1#####*/

.contact__p1 {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--off_white);
  padding-top: var(--spacing-lg);
  padding-bottom: var(--spacing-lg);
}

.contact__p1_text {
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
  padding-left: var(--margin-md);
  padding-right: var(--margin-md);
}

.contact__address-info {
  padding-left: 30px;
  vertical-align: top;
  color: #0d0d0d;
}

.contact__icons {
}

.contact__icons_mail {
  width: 33px;
}

.contact__hours {
}

.contact__hours_heading {
  display: inline-block;
}

.contact__hours_p {
  padding-bottom: var(--spacing-md);
}

.contact__location {
}

.contact__location_heading {
  padding-bottom: var(--spacing-sm);
}

.contact__location_p {
  padding-bottom: var(--spacing-md);
}

.contact__git {
  padding-bottom: var(--margin-bottom);
}

.contact__git_heading {
  padding-bottom: var(--spacing-sm);
}

.contact__git_p {
}

.contact_img {
  max-width: 460px;
  margin: 0 auto;
  width: 100%;
}

/*####CONTACT PART 2#####*/

.contact__p2 {
  background-color: #1d2227;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: var(--margin-bottom);
  padding-top: var(--spacing-lg);
}

.contact__p2_text {
  display: block;
  color: white;
  width: 100%;
  margin: 0 auto;
  max-width: 370px;
  padding-left: var(--margin-md);
  padding-right: var(--margin-md);
  padding-bottom: var(--spacing-md);
}

.contact__message_box {
  display: block;
  max-width: 750px;
  width: 93%;
  margin: 0 auto;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  background-color: #b9c2ca;
  color: #000000;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 8%;
  padding-right: 8%;
}

.button__submit_wrap {
  vertical-align: top;
  text-align: center;
  margin-top: 32px;
}

.text_line {
  padding-bottom: 15px;
}

.answer_input {
  width: 49%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 6px;
  height: 100px;
}

.input_area {
  width: 49%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 6px;
}

.submit_button {
}
